In [5]:
# DBSCAN Clustering

# Importing the libraries
import numpy as np
import pandas as pd

In [11]:
# Importing the dataset
dataset = pd.read_csv('Mall_Customers.csv')
X = dataset.iloc[:, [3, 4]].values
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
# Using the elbow method to find the optimal number of clusters
from sklearn.cluster import DBSCAN
dbscan=DBSCAN(eps=3,min_samples=4)

In [17]:
# Fitting the model

model=dbscan.fit(X)

labels=model.labels_

In [18]:
from sklearn import metrics

In [24]:
#identifying the points which makes up our core points
sample_cores=np.zeros_like(labels,dtype=bool)
#print(sample_cores)

#print(dbscan.core_sample_indices_)   #Core points indices
sample_cores[dbscan.core_sample_indices_]=True
#print(len(set(labels)))

#Calculating the number of clusters

n_clusters=len(set(labels))- (1 if -1 in labels else 0)
#print(n_clusters)


print(metrics.silhouette_score(X,labels))

-0.1908319132560097